


<div class="page">
<div class="page-wrapper {{fade}}">
  <div class="container">
    <div class="content">


  <h1 class="title">
    <span class="logo">
      <span>P</span><span>i</span><span>N</span><span>T</span>
    </span>
  </h1>
  <h2>
    Picture Naming Task
  </h2>

  <md-list>

    <md-list-item *ngIf="!this.audioAvailable">
      <span class="error">
        Cannot access audio for recording.
        <br>
        Please check computer audio settings and restart
        <br>
        &nbsp;
      </span>
    </md-list-item>
    <md-list-item *ngIf="this.audioAvailable">
      <button md-button class="button-primary" (click)="startTask()">
        Start
      </button>
    </md-list-item>

    <md-list-item *ngIf="this.audioAvailable">
      <button md-button class="button-secondary" (click)="openSettings()">
        Settings
      </button>
    </md-list-item>

    <md-list-item *ngIf="this.audioAvailable">
      <button md-button class="button-tertiary" (click)="openAudio()">
        Audio
      </button>
    </md-list-item>

    <md-list-item>
      <button md-button class="danger" (click)="exitApplication()">
        Exit
      </button>
    </md-list-item>
  </md-list>

    </div>
  </div>
</div>
</div>
