
<div class="page">
    <div class="tiles">
        <div *ngIf="tiles[0].imageSrc" class="tile tile-{{tiles[0].stack}} color-light-{{tiles[0].color}} {{tiles[0].style}}-{{tiles[0].direction}}">
            <div class="image">
                <img [src]="tileImageSrc(0)"/>
            </div>
        </div>
        <div  *ngIf="tiles[1].imageSrc" class="tile tile-{{tiles[1].stack}} color-light-{{tiles[1].color}} {{tiles[1].style}}-{{tiles[1].direction}}">
            <div class="image">
                <img [src]="tileImageSrc(1)"/>
            </div>
        </div>
    </div>
</div>
